<?xml version="1.0" ?>
<model>
    <name>bookshelf_with_books</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>HC-Robot Team</name>
        <email></email>
    </author>
    <description>Tủ sách khách sạn kích thước nhỏ gọn thực tế có sẵn các cuốn sách bên trong</description>
</model>
