<?xml version="1.0"?>
<model>
  <name>hc_robot</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>HC-Robot Team</name>
    <email>info@hcrobot.com</email>
  </author>
  <description>
    Intelligent Hotel Concierge Robot (HC-Robot) with Differential Drive, RPLiDAR, Camera, and Display Face.
  </description>
</model>
